# Stack

In [13]:
while True:
    inp = input()
   
    stack = []
    
    for char in inp:
        stack.append(char)
    otp = str()
    while len(stack)>0:
        otp += stack.pop()
    if inp == 'break':
        break
    print(otp)

hello
olleh
break

In [17]:
class Node:
    def __init__(self,value,left=None, right=None):
        self.value = value
        self.left = left
        self.right = right   
    def __str__(self):
        return "Node(" + str(self.value) + ")"
    
def walk(tree):
    if tree is not None:
        print(tree)
        walk(.left)
        walk(tree.right)

In [18]:
walk('A')

A

AttributeError: 'str' object has no attribute 'left'

In [1]:
l = [1,2,3,4,5,6]

In [2]:
l.append(9)

In [3]:
l

[1, 2, 3, 4, 5, 6, 9]

In [4]:
l.pop()
l

[1, 2, 3, 4, 5, 6]

In [5]:
l.pop(0)
l

[2, 3, 4, 5, 6]

In [8]:
l = ['a','b','c']
''.join(l)

'abc'

In [9]:
text = 'mitwpu'

In [10]:
text[2:4]

'tw'

In [15]:
text[::-1]

'upwtim'

In [20]:
text[0:-1:2]

'mtp'

In [22]:
text[::4]

'mp'

In [23]:
print(f'My colllege name is {text}')

My colllege name is mitwpu

In [24]:
l.extend([2,3,4,5])
l

['a', 'b', 'c', 2, 3, 4, 5]

In [25]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [26]:
t[1:3]

(2, 3)

In [27]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

In [28]:
type(s1)

set

In [29]:
type(l)

list

In [30]:
type(t)

tuple

In [31]:
s1.intersection(s2)

{4, 5, 6}

In [32]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
import sys

In [34]:
sys.version

'3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]'

In [35]:
dic = {'roll':[1,2,3,4,5],'name':['a','b','c','d','e']}
dic

{'roll': [1, 2, 3, 4, 5], 'name': ['a', 'b', 'c', 'd', 'e']}

In [41]:
import pandas as pd
import numpy as np

In [42]:
pip install numpy

Requirement already satisfied: numpy in c:\users\nihar\anaconda3\lib\site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [38]:
df = pd.DataFrame(dic)
df

   roll name
0     1    a
1     2    b
2     3    c
3     4    d
4     5    e

In [39]:
dic = {'roll':[1,2,3,4,5],'name':['a','b','c','d','e'],'Subject':['Math','AIML','DSE','Python','ED']}
dic

{'roll': [1, 2, 3, 4, 5],
 'name': ['a', 'b', 'c', 'd', 'e'],
 'Subject': ['Math', 'AIML', 'DSE', 'Python', 'ED']}

In [40]:
df = pd.DataFrame(dic)
df

   roll name Subject
0     1    a    Math
1     2    b    AIML
2     3    c     DSE
3     4    d  Python
4     5    e      ED

In [45]:
n = int(input())
if n>0:
    if n%2 ==0:
        print('Even')
    else:
        print('Odd')
else:
    print('Only positive intger number')

-9
Only positive intger number

In [46]:
def even(n):
    '''Find even number'''
    if n>0:
        if n%2 ==0:
            print('Even')
        else:
            print('Odd')
    else:
        print('Only positive intger number')

In [47]:
even(8)

Even

In [48]:
def odd(n):
    '''Find even number'''
    if n>0:
        if n%2 ==1:
            print('odd')
        else:
            print('even')
    else:
        print('Only positive intger number')

In [49]:
odd(9)

odd

In [50]:
def odd(n):
    '''Find even number'''
    if n>0:
        if n%2 !=0:
            print('odd')
        else:
            print('even')
    else:
        print('Only positive intger number')

In [51]:
odd(7)

odd

In [52]:
even = lambda x: 'even' if x%2==0 else 'odd'
even(8)

'even'

In [53]:
even(9)

'odd'

In [54]:
l

['a', 'b', 'c', 2, 3, 4, 5]

In [55]:
for item in l:
    print(item)

a
b
c
2
3
4
5

In [57]:
l2 = [1,2,3,4,5,6]
l3 = []
for i in l2:
    l3.append(i*2)
l3

[2, 4, 6, 8, 10, 12]

In [58]:
[i*2 for i in l2]

[2, 4, 6, 8, 10, 12]

# Function

In [15]:
def fun(n):
    print(n)

In [16]:
a = fun(2)

2

In [8]:
def cube_sum(a,b):
    '''Cube summation of two number'''
    return a**3 + b**3

In [9]:
c = cube_sum(2.5,4.6)

In [11]:
type(c)

float

In [12]:
def cube_sum_print(a,b):
    '''Cube summation of two number'''
    print(a**3 + b**3)

In [13]:
c = cube_sum_print(2.5,4.6)

112.96099999999998

In [14]:
type(c)

NoneType

In [17]:
def addition(*args):
    add = 0
    for i in args:
        add += i 
        
    return add

In [18]:
addition(1,2,3,4,5,6)

21

In [12]:
type(a)

NoneType

In [19]:
def fun(n):
    return n

In [20]:
a =fun(2)

In [28]:
def addition(*args):
    add = 0
    for i in args:
      add += i
    return add

In [29]:
a = addition(2,3,4)
a

9

In [22]:
type(a)

int

# Class

In [34]:
class Area:
    '''This class is used to find area of circle and rectangle '''
    def __init__(self, radius, length, width):
        """Constructor"""
        self.radius = radius
        self.length = length
        self.width = width
        
    def area_circle(self):
        '''It will find area of circle'''
        return 3.17 * (self.radius)**2
    
    def area_rectangle(self):
        '''It will find area of rectangle'''
        return self.length * self.width

In [35]:
area = Area(5,10,15)

In [36]:
area.area_circle()

79.25

In [37]:
area.area_rectangle()

150

In [ ]:
area

In [1]:
name ='giacomo'
number = 4.3
print('%s %s %d %f %g' % (name, number, number, number, number))

giacomo 4.3 4 4.300000 4.3

In [2]:
print('%s ' % (number))

4.3

In [3]:
print('%d ' % (number))

4

In [4]:
print('%f ' % (number))

4.300000

In [5]:
print('%g ' % (number))

4.3

In [5]:
for i in range(0,21,5):
    
    print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (1233804520.py, line 2)

# recussion

In [6]:
def fun(n):
    if n>0:
        return n
        fun(n-1)

In [10]:
def fun(num1, num2):
        add = num1 + num2
        print(add)

In [11]:
a = fun(4,5)

9

In [12]:
type(a)

NoneType

In [13]:
def fun(num1, num2):
        add = num1 + num2
        return add

In [16]:
fun(4,5)

9

In [17]:
a = fun(4.5,5)
print(a)
type(a)

9.5

float

In [8]:
a = fun(10)

In [9]:
print(a)

10

In [1]:
def fun(n):
    if n<11:
        print(n)
        fun(n+1)

In [2]:
fun(1)

1
2
3
4
5
6
7
8
9
10

In [2]:
def fun(n):
    print(n*2)
    
a = fun(2)
type(a)

4

NoneType

In [5]:
def fun(n):
     return (n*2)
    
a = fun(2)
print(a)
type(a)

4

int

In [ ]:
def fun(n):
    if n>-10:
        fun(n-1)
        print(n)

In [6]:
# Depth First Search (DFS) algorithm in Python


# DFS algorithm
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)

    print(start)

    for next in graph[start] - visited:
        dfs(graph, next, visited)
    return visited


graph = {'0': set(['1', '2']),
         '1': set(['0', '3', '4']),
         '2': set(['0']),
         '3': set(['1']),
         '4': set(['2', '3'])}

dfs(graph, '0')

0
2
1
3
4

{'0', '1', '2', '3', '4'}

In [4]:
graph['0'] - {'1'}

{'2'}

In [7]:
dfs(graph, '4')

4
2
0
1
3
3

{'0', '1', '2', '3', '4'}

In [27]:
def fun(n):
    if n>-10:
        fun(n-1)
        print(n)

In [28]:
fun(10)

-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [29]:
dfs(graph, '4')

4
2
0
1
3
3

{'0', '1', '2', '3', '4'}

In [30]:
graph = {'0': set(['1','2', '3']),
         '1': set(['0']),
         '2': set(['0','3','4']),
         '3': set(['0','2']),
         '4': set(['2'])}

In [31]:
dfs(graph, '0')

0
2
3
4
3
1

{'0', '1', '2', '3', '4'}

In [36]:
ad_max = [[0,1,1,1,0,0],
         [1,0,0,0,1,1],
         [1,0,0,0,0,1],
         [1,0,0,0,0,0],
         [0,1,0,0,0,0],
         [0,1,1,0,0,0]]


visited = [0,0,0,0,0,0]
ans,stack = [],[]

def stack_display():
    for val in stack:
        print(val,end='|')
    print()
    
def dfs(n):
    if visited[n] !=0:
        return
    else:
        visited[n] = 1
        stack.append(n)
        stack_display()
        num = 0
        for relation in ad_max[n]:
            if relation != 0:
                dfs(num)
            num += 1
        #print(n)
        ans.append(n)
        stack.pop()
        stack_display()

src_node = int(input('Enter the source node: '))
dfs(src_node)
print(ans)

Enter the source node: 0
0|
0|1|
0|1|4|
0|1|
0|1|5|
0|1|5|2|
0|1|5|
0|1|
0|
0|3|
0|

[4, 2, 5, 1, 3, 0]

In [2]:
ad_max[0]

[0, 1, 1, 1, 0, 0]

# DFS

In [2]:
# DFS algorithm
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)

    print(start)

    for next in graph[start] - visited:
        dfs(graph, next, visited)
    return visited

In [3]:
# Example usage:
graph = {
    'A': {'B', 'C'},
    'B': {'A', 'D', 'E'},
    'C': {'A', 'F', 'G'},
    'D': {'B'},
    'E': {'B', 'H'},
    'F': {'C'},
    'G': {'C'},
    'H': {'E'}
}

dfs(graph, 'A')

A
B
D
E
H
C
F
G

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'}

In [35]:
print(1, end = ' ')
print(2)

1 2

# BFS

In [26]:
print(3,4,sep =' ')

3 4

In [33]:
visited = []
queue = []
# BFS algorithm
def bfs(visited, graph, node):
    """Visited = Those node algorithm aready seen"""
    visited.append(node)
    queue.append(node)
    
    while queue:
        m = queue.pop(0)
        print(m, end = ' ')
        
        for neighbour in graph[m]:
            if neighbour not in visited:
                visited.append(neighbour)
                queue.append(neighbour)

In [34]:
graph = {'0': set(['1', '2']),
         '1': set(['0', '3', '4']),
         '2': set(['0']),
         '3': set(['1']),
         '4': set(['2', '3'])}

In [35]:
bfs(visited, graph,'0')

0 1 2 4 3

In [45]:
queue = []
queue.append('0')
queue.pop(0)
queue.append({1,2})
queue

[{1, 2}]

0 1 2 4 3

In [28]:
for neighbour in graph['0']:
    print(neighbour)

1
2

In [43]:
queue

[{'1', '2'}]

In [29]:
m = queue.pop(0)

In [30]:
m

'0'

In [36]:
neighbour = graph[m]

In [37]:
neighbour

{'1', '2'}

In [25]:
l.pop(0)

1

In [26]:
l

[2, 3]

In [15]:
l = [1,2,3,4,5,6]
l.pop(0)

1

In [56]:
graph = {'0': set(['1', '2']),
         '1': set(['0', '3', '4']),
         '2': set(['0']),
         '3': set(['1']),
         '4': set(['2', '3'])}

In [57]:
graph['0']

{'1', '2'}

In [60]:
bfs(visited,graph,'0')

0 2 1 4 3

In [20]:
l = []
for i in graph['0']:
    l.append(i)

In [21]:
l

['2', '1']